<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<!--       <div class="container">
 -->        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
<a class="navbar-brand"><img src="/assets/WTRLogo.png" style="height:100%;margin-right:10px;"/></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
         <li><a href="/">
           <span class="glyphicon glyphicon-home"></span>
        </a></li>
            <li class="active"><%= link_to 'View Recipes', recipes_path %></a></li>
          <% if user_signed_in? %>
          <li>
			<%= link_to 'Create Recipe', new_recipe_path %>
		</li>
    <li>
              <p><%= link_to raw('<span class="glyphicon glyphicon-user"> Profile </span>'), user_path(@user) %></p>
            </li>
		<li>
<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>		</li>
			<% end %>
		</li>
		<!-- <li>
			<% if user_signed_in? == false %>
			<%= link_to 'Sign In', new_user_session_path %>
			</li> -->	
      <%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
        <div class="form-group">
          <%= f.text_field :email, :placeholder => "Email", class: "form-control" %> 
        </div>
        <div class="form-group">
          <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
        </div>
        <!-- <div class="checkbox">
          <%= f.check_box :remember_me %><%= f.label :remember_me %>
        </div> -->
        <%= f.submit 'Sign In', class: "btn btn-default" %>
        <% end %>
			 <li> 
			<%= link_to 'Sign Up', new_user_registration_path %>
		</li>
			<% end %>
		</li>
		</ul>
        </div><!--/.nav-collapse -->
      </div>

    </nav>
    <div class="transbox">
      <br />
      <br />
<h1>Recipe Index</h1>

<br />

<%= form_tag "/recipes", method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search Recipes" %>
<% end %>

<% @recipes.each do |recipe| %><br />
	Dish Name: <%= link_to recipe.title, recipe %><br />
	Restaurant: <%= recipe.restaurant%><br />
	Cuisine: <%= recipe.cuisine %><br />
<!--     User Id: <%= recipe.user_id %>
 -->	<br />
	<% end %>


	<p><%= link_to 'Home', root_path %></p>
    <p>
        <% if user_signed_in? %>
        <%= link_to 'Add New Recipe', new_recipe_path %>
        <% end %>
    </p> 

</div>
